body {
  background: linear-gradient(135deg, #fef6e4, #f9c5d1);
}

body {
  background: linear-gradient(to right, #9C8EF4, #f9c5d1, #a3d2ca);
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* فقط جزء علوي */
  background-image: url('images/pexels-didsss-1276553.jpg');
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.logo-text {
  display: inline-block;
  padding: 10px;
  position: relative; /* لتحديد مكانه دون فصل عن التدفق العام */
  transition: transform 0.3s ease;
}

.logo-text:hover {
  transform: scale(1.1); /* تكبير بسيط عند مرور الماوس */
}
.logo {
  position: relative;
  top: -300px;
  width: 120px; /* نفس مكان الصورة */
  height: 120px;
  margin-left: 5px; /* بدل left داخل img */
}

.logo img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
    
}

.logo:hover img {
  transform: scale(1.1);
}
    .lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 100;
  font-style: normal;
      color: rgb(68, 18, 232);
      margin-top: 100px;
      font-size: 250%;
      position: relative;
      top: -400px;
      left: auto;
  }
.nav-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  transition: color 0.3s, transform 0.3s;
  font-weight: bold;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(68, 18, 232);
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: rgb(157, 25, 239);
  transform: scale(1.05);
}


.fa-bounce {
  color: #8712e1; 
  font-size: 40px;
}
@font-face {
  font-family: 'CatPaw';
  src: url('fonts/CatPaw-zr0OG.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.cat-quote {
  font-family: 'CatPaw', sans-serif;
  font-size: 30px;
  color: #6b14ce;
  text-align: center;
  margin-top: 50px;
}


.gallery {
  display: block;
  justify-content: center;
  align-items: flex-start;
  gap: 3.0px;                
  flex-wrap: wrap;
  margin-top: 10px;
  
}
.styled-img {
  flex: 1 0 20%;
  width: 300px;
  height: 500px;
  object-fit: cover;         
  border: 4px solid #580aa6;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}
.styled-img:hover {
  transform: scale(1.05);
}

.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #6293c8, #384c6c);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: absolute;
  top: 350px;
  left: 950px;
  max-width: 500px;
  max-height: 400px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}

.card1:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card1:hover:before {
  transform: scale(28);
}

.card1:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}
.button {
  cursor: pointer;
  padding: 12px 18px;
  margin-left: 122px;
  border-radius: 30px;
  border: 5px solid #e50000;
  display: inline-block;
  overflow: hidden;
  background: rgb(164, 12, 229);
  box-shadow:
    inset 6px 6px 10px rgba(255, 255, 255, 0.6),
    inset -6px -6px 10px rgba(0, 0, 0, 0.3),
    2px 2px 10px rgba(0, 0, 0, 0.3),
    -2px -2px 10px rgba(255, 255, 255, 0.5);
  transition:
    box-shadow 0.3s ease,
    transform 0.1s ease;
}

.button span {
  font-family:'Arial', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #db0000;
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.4),
    -1px -1px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-out;
  z-index: 1;
  padding: 0px 4px;
}

.button span:nth-child(1)::before {
  transition-delay: 0ms;
}
.button span:nth-child(2)::before {
  transition-delay: 100ms;
}
.button span:nth-child(3)::before {
  transition-delay: 200ms;
}
.button span:nth-child(4)::before {
  transition-delay: 300ms;
}
.button span:nth-child(5)::before {
  transition-delay: 400ms;
}

.button:hover span {
  color: #d30000;
}

.button:active span {
  color: #f30000;
  text-shadow:
    1px 1px 1px rgba(255, 255, 255, 0.5),
    -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.button span:hover {
  transform: translateY(-7px);
  color: blueviolet;
}

.button:active {
  box-shadow:
    inset 2px 2px 1px rgba(0, 0, 0, 0.3),
    inset -2px -2px 1px rgba(255, 255, 255, 0.5);
  transform: scale(0.98);
}

.background-image {
  position: absolute; /* يخرج من السياق الطبيعي */
  top: 850px;      /* المسافة من الأعلى */
  left: 780px;    /* المسافة من اليسار */
  width: 100px;   /* حجم الصورة */
  height: auto;   /* الحفاظ على التناسق */
  z-index: 10;    /* يضمن ظهوره فوق أو تحت عناصر أخرى */
    border-radius: 10px;
}
.custombox {
  position: relative;       /* يتيح وضعه في أي مكان */
  top: 5px;               /* المسافة من الأعلى */
  left: 5px;               /* المسافة من اليسار */
  width: 740px;
  height: 720px;
  padding: 10px;
  background-color: #bfeed7; /* لون خلفية ناعم */
  border: 2px solid #f0e4b0; /* لون إطار */
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 10;
}

.card13 {
  display: block;
  position: absolute;
  top: 1590px;
  left: 950px;
  max-width: 500px;
  max-height: 400px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 4.3em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.card13:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: linear-gradient(135deg, #364a60, #384c6c);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card13:hover:before {
  transform: scale(28);
}

.card13:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card13:hover .card-title {
  text-align: right;
  transition: all 0.5s ease-out;
  color: #ffffff;
}
/* From Uiverse.io by DavidTM96 */ 
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #5e6762;
  background-color: #3a126d;
  border-radius: 20px;
  max-width: fit-content;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
  
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #7e20e3de;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
    max-width: fit-content;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
  
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* From Uiverse.io by wilsondesouza */ 
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: right;
  align-items: center;
   position: absolute; /* ⬅ مهم */
  top: 1px;
  right: 20px;
  z-index: 100;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #b080eb;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #128c7e;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #3b5998;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.hand-box {
  height: 200px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.3); /* شفافية */
  backdrop-filter: blur(5px); /* تأثير زجاجي */
  border: 2px dashed rgba(68, 18, 232, 0.4); /* إطار مزخرف */
  border-radius: 20px;
  padding: 110px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #2d1c4d;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  left: 350px;
  position: relative;
  margin-top: -420px;
}
.text12{
  text-align: center;
margin-top: -50px;
}

.hand-box::before {
  content: "🐾";
  font-size: 70px;
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  animation: pulse 1.5s infinite;
}


@keyframes pulse {
  0% { transform: translateY(-50%) scale(1); }
  50% { transform: translateY(-50%) scale(1.2); }
  100% { transform: translateY(-50%) scale(1); }
}

.cat-icon {
  width: 120px;   /* الحجم */
  height: auto;
  position: absolute;
  top: -150px;     /* المسافة من الأعلى */
  left: 10px;     /* المسافة من اليسار */
  z-index: 10;    /* لضمان أنها فوق العناصر الأخرى */
}

.cat-icon-container {
  position: absolute;
  top: 120px;
  right: 30px;
  width: 100px;
}

.cat-icon2 {
  width: 120px;   /* الحجم */
  height: auto;
  position: absolute;
  top: 170px;     /* المسافة من الأعلى */
  left: -500px;     /* المسافة من اليسار */
  z-index: 10;    /* لضمان أنها فوق العناصر الأخرى */
}

.cat-icon-container2 {
  position: absolute;
  top: 130px;
  right: 30px;
  width: 100px;
}
